.container-fluid {
    width: 90%;
}
/* .bgBackground{
    background: url('../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.phtotocardFrame {
    width: 200px;
    height: 270px;
    background-color: #D5B6D6;
}

.selectECardWithPhotoContainer h3{
    font-family: Paytone One;
}
/* Chrome, Safari */
/* .allCardSection::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    .allCardSection::-webkit-scrollbar-track-piece  {
    background-color: #c6c8ca;
    }
    .allCardSection::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #734385;
    } */

/*     
.allCardSection{
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} */
.viewMore{
    background: #DF6329;
    color: #fff; 
    font-size: 23px; 
    font-family: Paytone One;
    min-width: 160px;
    min-height: 50px;
    border-radius: 10px;
}
.mainsection{
    display: flex;
    overflow-x: auto;
    margin-left:20px;
}
.imgSource{
    background: #FFE603;
    padding: 15px;
    border-radius: 20px;
    /* text-align: center; */
    font-family: PAYTONE ONE;
    /* font-size: 40px; */
    display: flex;
    justify-content: center;
    
}
.imgSource h1{
  font-size: 40px;
}
.cancelIcon{
    position: absolute;
    right: 20px;
    cursor: pointer;
    /* top: -15px; */
}
.modal-content{
    border-radius: 20px;
}
 .modal-body{
    padding: 0px;
    border-radius: 20px;
}

.cropModal .modal-body, .cropModal .modal-content {
    border-radius: 0 !important;
}
.btnGallery, .btnGallery:hover{
background: #FFFFFF;
border: 1px solid black;
color:#734385;
font-family: Paytone One;
font-size: 30px;
min-width: 245px;
height: 137px;
border-radius: 0;
}
.btnCancel {
    background: #DF6329;
    color:#fff;
    font-family: Paytone One;
    font-size: 30px;
    min-width: 245px;
    height: 76px;
}
.btnCancel:hover{
background-color: #734385;
}

.modalBody{
    text-align: center;
}
.Cards{
    margin-right: 20px;
    padding: 10px;
}
@media (max-width:767px){
    .container-fluid {
        width: 100%;
    }
    .imgSource h1{
        font-size: 25px;
      }
    .viewMore {
        font-size: 18px;
        min-width: 120px;
        min-height: 50px;
    }
    
    /* .allCardSection{
        height: 65vh;
    } */
.phtotocardFrame {
    width: 150px;
    height: 200px;
}
    .selectECardWithPhotoContainer h3 {
        font-size: 17px;
    }
    .Cards{
        display: flex;
        justify-content: center;
    } 
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* .allCardSection {
        height: 80vh;
    } */
}