.container-fluid {
    width: 90%;
}
/* .bgBackground{
    background: url('../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.leftSection{
    padding: 0 20px;
}

.leftSection p{
    /* font-family: Century Gothic; */
    font-size: 25.2px;
    font-weight: bold;
}
.btnAddEgift{
    background-color: #DF6329;
    float: right;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    min-width: 120px;
    border-radius: 0.5rem;
    font-family: Paytone One;
}
.btnAddEgift:hover{
    background-color: #734385;
}

.imgDivaddEgift{
    text-align: center;
}
@media (max-width:767px){

    .btnAddEgift {
      
        font-size: 16px;
        
    }
    .leftSection p {
        font-size: 19px;
        
    }
    .egiftArea {
        flex-direction: column !important;
    }
}