/* .bgBackground{
    background: url('../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
.container-fluid {
    width: 90%;
}

.error {
    border: 2px solid #DF6329;
}

.RecipientDiv h1{
    font-size: 45px;
    color: #734385;
    font-family: Paytone One;
}

/* .recipientLeft{
    padding: 30px;
	font-size: 1rem;
} */

.recipientLeft h2{
    font-size: 33px;
    font-weight: 700;
    font-family: Century Gothic;
}
.recipientLeft h5{
    font-size: 20px;
    font-weight: 700;
    font-family: Century Gothic;
    margin-top: 20px;
}
.plusIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
/* .recipientRight{
    padding: 30px;
} */
.recipientRight .form-control{
    height: 90px !important;
    /* border-radius: 20px !important; */
    background: #D6B5D5 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    font-family: Century Gothic !important;
    color: #fff !important;
    padding: 0px 30px;
}
.recipientRight .form-control::placeholder{
    font-size: 30px !important;
    font-weight: 700;
    font-family: Century Gothic;
    color: #fff;
}

.phoneInput {
    width: 100%  !important;
}

.countryList {
    width: 50%;
}
.recipientRight h1{
    font-size: 45px;
    color: #734385;
    font-family: Paytone One;
}
.labelDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
    font-family: Century Gothic;
    color: #000;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    
    .RecipientDiv h1 {
        font-size: 40px;
    }
.recpient-jb {
    display: none;
}
.recipientLeft h2, .recipientLeft h5 {
    font-size: 16px;
    margin-top: 10px;
}
.recipientRight h1 {
    font-size: 20px;
}
.recipientRight .form-control {
    padding: 10px 15px;
    height: 100% !important;
    font-size: 18px !important;
}
.recipientRight .form-control::placeholder{
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: Century Gothic !important;
    color: #fff !important;
}

.labelDiv {
    font-size: 14px;
}
.labelDiv, .labelDiv label {
    margin-bottom: 5px;
}

.recipientLeft {
    margin-bottom: 10px;
}
}