.registerBody h1 {
  font-family: Paytone One;
  font-size: 45px;
  color: #734385;
  text-align: center;
}

.registerBody {
  border: 2px solid #734385;
  box-sizing: border-box;
  border-radius: 20px;

  display: grid;
  place-items: center;
}
.container.registercontainer {
  height: 100vh;
}
.allErrors{
  color: red;

  
}
/* p{
  border: solid green 2px;
  width: 100%;
} */
.registerBody input[type='text'] {
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 31px 21px;
}

textarea.form-control {
  height: 110px;
}

.registerBody .form-control {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  border-radius: 20px;
}
.registerBody .form-control::placeholder {
  color: #fff;
}

.btnRegister {
  background: #DF6329;
  color: #fff;
  font-size: 33px;
  font-family: Paytone One;
  min-width: 255px;
  min-height: 86px;
  border-radius: 10px;

  margin-top: 25px;
}
.btnRegister:hover{
  background-color: #734385;  
}
.registerBody .form-control :focus {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.btndiv {
  display: flex;
  justify-content: flex-end;
}
.termConditions {
  color: #734385;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-align: right;
  margin-top: 23px;
}
.termConditions p {
    margin-top: 0;
    margin-bottom: 0px;
}
/* .checkbox {
  
  width: 24px;
  height: 24px;

  color: #734385;
} */
textarea {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  background-color: #d6b5d5;

  border-radius: 20px;
}

body {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.lastLine p {
  font-family: Century Gothic;
  font-size: 26px;
  color: #000000;
  text-align: center;
}
.eyeIcon {
  position: absolute;
  top: 38%;
  right: 5%;
  color: white;
}
.eyeIcon:hover {
  color: #734385;
  cursor: pointer;
}
@media (max-width: 1024px) {
  textarea {
    font-size: 30px;
  }
  .registerBody .form-control {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  registerBody input[type='text'] {
    padding: 37px 68px;
    background-position: 16px 21px;
  }
  .registerBody h2 {
    font-size: 15px;
  }
  .container.registercontainer {
    margin-top: -25px;
  }
  .btnRegister {
    min-width: 179px;
    min-height: 72px;
  }
  .eyeIcon {

    right: 12% !important;
   
  }
}
