.NewUserBody h1 {
  font-family: Century Gothic;
  font-size: 30px;
  text-align: center;
}
.NewUserBody span {
  font-family: Century Gothic;
  font-size: 30px;
  text-align: center;
}
.NewUserBody h2 {
  font-family: Century Gothic;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #734385;
}
.optionalText {
  font-family: Century Gothic;
  font-weight: bold;
  font-size: 23px;
  color: #734385;
  margin-left: 12px;
}
.NewUserBody {
  /* border: 2px solid #734385; */
  box-sizing: border-box;
  border-radius: 20px;

  display: grid;
  place-items: center;
}
/* .container.NewUsercontainer {
  height: 100vh;
} */

.NewUserBody input[type='text'] {
  background-image: url(./../../../assets/user\ 1.png);
  background-repeat: no-repeat;
  padding: 40px 25px 40px 90px;
  background-position: 31px 21px;
}
.NewUserBody input[type='tel']{
  padding: 40px 25px 40px 90px;
}
.NewUserBody input[type='email']{
  padding: 40px 25px 40px 90px;
}
.NewUserBody input[type='password']{
  padding: 40px 25px 40px 90px;
}
.phone > small {
  /* color: white; */
}
textarea.form-control {
  height: 110px;
}

.NewUserBody .form-control {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  border-radius: 20px;
}
.NewUserBody .form-control::placeholder {
  color: #fff;
}

.myToggalDiv{
  margin-top: 10px;
  border: 2px solid #734385;
  padding: 10px 5px;
  border-radius: 2.5rem;
}
.myToggalDiv .login{
  cursor: pointer;
  background: #734385;
  border-radius: 2rem;
}
.myToggalDiv .regi{
  cursor: pointer;
  background: #734385;
  border-radius: 2rem;
}
.myToggalDiv span{
  padding: 8px 20px;
  font-family: Paytone One;
  font-size: 40px;
  color: #FFFFFF;
}
.myToggalDiv .default{
  color: #734385;
  cursor: pointer;
}

.btnSend {
  background: #DF6329;
  color: #fff;
  font-size: 33px;
  font-family: Paytone One;
  border-radius: 10px;
padding: 10px 35px;
  margin-top: 25px;
}
.btnSend:hover{
  background-color: #734385;
  }  
.btnLogin{
  background: #DF6329;
  color: #fff;
  font-size: 24px;
  font-family: Paytone One;
  border-radius: 10px;
  width: 142px;
  height: 50px;
  margin-top: 10px;
  

}

.btnLogin:hover{
  background-color: #734385;
  }  
.NewUserBody .form-control :focus {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.btndiv {
  display: flex;
  justify-content: flex-end;
}
.termConditions {
  color: #734385;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-align: right;
  margin-top: 23px;
}
.termConditions p {
  margin-top: 0;
  margin-bottom: 0px;
}
.termConditions a {
  color: #734385;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-align: right;
  /* margin-top: 23px; */
}
.checkbox {
  width: 24px;
  height: 24px;

  color: #734385;
}
textarea {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  background-color: #d6b5d5;

  border-radius: 20px;
}

body {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.phoneicon {
  background-image: url(./../../../assets/phone.png);
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 31px 21px;
}

input[type="checkbox"]:checked + label:before {
  background:red;
  color: #734385;
}
@media (max-width: 1024px) {
  textarea {
    font-size: 30px;
  }
  .NewUserBody .form-control {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .NewUserBody input[type='text'] {
    background-position: 15px;
    background-size: 8%;
    height: auto;
    padding: 10px 0 10px 50px !important;
    font-size: 18px !important;
  }
  .NewUserBody h2 {
    font-size: 15px;
  }
  /* .container.NewUsercontainer {
    margin-top: -25px;
  } */
  .btnSend {
font-size: 20px;
width: 100%;
  }
  .btnLogin{
    margin-top: 10px;

    width: 105px;
    height: 47px;
    margin-right: 23px;

  }
  .NewUserBody h1 {
    font-size: 21px;
    
}
.myToggalDiv span {
  font-size: 22px;
}

.termConditions, .termConditions a {
  font-size: 18px !important;
}
.phoneicon{
  background-position: 15px;
    background-size: 8%;
    height: auto;
    font-size: 18px !important;
    padding: 10px 0 10px 50px !important;
}
}
