.heading {
  text-align: left;

  /* margin-top: 40px; */

  font-size: 45px;
  font-family: Paytone One;
}
.container-fluid {
  width: 90%;
}
.heading span {
  color: #734385;
}
/* .Para h2{
  font-weight: bold;
  font-family: Century Gothic;
} */

.imgDiv{
  text-align: center;
}

.Para {
  margin-top: 20px;
}

/* .bgBackground {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
@media screen and (min-width: 1024px) {
  /* .ecard {
    min-width: 463px;
  } */
}
@media (max-width: 767px) {
  .skipButton {
    min-width: auto;
  }
 
  .Para {
    font-size: 19px;
    margin-left: 0px;
  }
  
  .small {
    margin-bottom: 3rem !important;
  }

  .headPara {
    margin-left: 0px;
    padding: 10px;
  
  }
  .heading {
  
    font-size: 30px;
  }
}
