.bg-light {
  background: #734385 !important;
  min-height: 100px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
  color: #fff;
  padding: 0 0.5rem;
  text-align: center;
  font-family: Paytone One;
  font-size: 20px;
}

.navbar-light .navbar-nav .active {
  color: #df6329 !important;
}
.myNavbar .nav-item i {
  color: #ffcf01;
}
.myNavbar .nav-item {
  padding: 0 12px;
  margin-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.bradcrumb {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
  color: #ffffff;
  margin-bottom: 15px;
}
.btn:hover {
  color: white;
}

/* Navbar Modal CSS */

.custom-modal-style {
  width: auto;
  height: 100%;
  margin-top: 6rem;
}

.ModalHead h2 {
  font-family: Century Gothic;
  margin-left: 0.5rem;
  cursor: default;
}

.sidebaricon {
  margin-right: 1.5rem;
}
.sidebarhead {
  margin-right: 4rem;
  cursor: pointer;
}

.CustomModalBody p {
  margin-left: 1.5rem;
  margin-top: 1.6rem;
  cursor: pointer;
  font-size: 20px;
  color: #734385;
  font-family: Paytone One;
}

.cardWithHeart {
  font-size: 10px !important;
  padding: 10px 3px 2px 3px;
  border-radius: 5px;
  border: 4px solid #ffcf01;
}

@media only screen and (max-width: 769px) {
}
