.container-fluid {
  width: 90%;
}
.section1 h1 {
  font-family: Paytone One;
  color: #000;
}
.section1 h1 span {
  color: #734385;
}
.banner {
  margin-top: 30px;
}

.mobile {
  display: none !important;
}

.desktop {
  display: flex !important;
}
.video-fluid {
  width: 100%;
  height: auto;
}

/* .BackgroundOfFirstPage {
  background-image: url('../../../assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
} */

/* .brd-card {
  height: 250px;
} */
.brd-icon img {
  float: left;
  margin-top: -20px;
}
.brd-icon span {
  color: #734385;
}
.brd-icon p {
  white-space: initial;
  line-height: 30px;
  font-size: 32px;
  width: 350px;
  margin-top: 17px;
  margin-left: 10px;
  float: left;
  text-align: left;
  /* font-weight: bold; */
  font-family: Paytone One;
}
.circle {
  background-color: #ed5a28;
  width: 130px;
  height: 130px;
  /* margin-top: 100px; */
  border-radius: 50%;
  padding: 22px 0px;
}
.freetext {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  /* padding: 20px; */
}
.freetext span {
  color: #ffe603;
  font-size: 26px;
}
.numbr {
  background-color: #734385;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 2px;
  color: #ffcd27;
  font-weight: bold;
  border-radius: 50%;
  font-size: 25px;
}
.TxtBtn{
  font-size: 25px;
  color: #734385;
  font-family: Paytone One;
  cursor: pointer;
}

.bodyModal{
  
  border-radius: 0px !important;
}


/* .modal-body {
  max-height:50%; 
  overflow-x: auto;
} */


.headRight{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .BackgroundOfFirstPage {
    height: 93.5vh;
  }
}



@media (min-width: 768px) and (max-width: 1023px) {
  .circle {
    width: 100px;
    height: 100px;
  }
  .freetext {
    font-size: 12px;
  }
  .freetext span {
    font-size: 18px;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }


 
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .banner {
    margin-top: 0;
  }

  .banner .col {
    margin-bottom: 20px;
  }
  .freetext {
    font-size: 20px;
    margin-bottom: 0 !important;
  }
  .freetext span {
    font-size: 18px;
  }
  .mobile {
    display: flex !important;
  }
  /* 
  .mobile .circle {
    width: 100% !important;
    height: 100% !important;
    background-color: #734385 !important;
    padding: 10px 0 !important;
    border-radius: 0 !important;
    border: 3px dashed white;
    margin-bottom: 20px;
  } */

  .section1 h1 {
    font-size: 30px;
  }

  .circle {
    /* margin-top: 0;
    margin-bottom: 50px; */
  }
  .BackgroundOfFirstPage {
    height: auto;
  }
  .brd-icon p {
    font-size: 22px;
  }

  .row1 {
    flex-direction: column;
  }
  
  .headRight{
    
    flex-direction: column;
    
  }
 

}
