.LoginBody h1 {
    font-family: Paytone One;
    font-size: 45px;
    color: #734385;
    text-align: center;
  }
  .swal-modal {
    /* width: auto; */
    min-width: 40%;
  }

  .myToggalDiv{
    margin-top: 10px;
    border: 2px solid #734385;
    padding: 10px 5px;
    border-radius: 2.5rem;
  }
  .myToggalDiv .login{
    cursor: pointer;
    background: #734385;
    border-radius: 2rem;
  }
  .myToggalDiv .regi{
    cursor: pointer;
    background: #734385;
    border-radius: 2rem;
  }
  .myToggalDiv span{
    padding: 8px 20px;
    font-family: Paytone One;
    font-size: 40px;
    color: #FFFFFF;
  }
  .myToggalDiv .default{
    color: #734385;
    cursor: pointer;
  }

  .LoginBody {
    /* border: 2px solid #734385; */
    box-sizing: border-box;
    border-radius: 20px;
  
    display: grid;
    place-items: center;
  }
  /* .container.Logincontainer {
    height: 100vh;
  } */

  textarea.form-control {
      height: 110px;
  }
  
  .LoginBody .form-control {
    background-color: #d6b5d5;
    color: #fff;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    padding: 40px 25px 40px 90px;
  }
  .LoginBody .form-control::placeholder {
    color: #fff;
  }
 
  .btnSubmitlogin {
    background: #DF6329;
    color: #fff;
    font-size: 33px;
    font-family: Paytone One;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px 35px;
  }
  .btnSubmitlogin:hover{
    background-color: #734385;
    }  

  .LoginBody .form-control :focus {
    background-color: #d6b5d5;
    color: #fff;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
  }
  .btndiv{
      display: flex;
      justify-content: flex-end;
  }
  textarea {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    background-color: #d6b5d5;
  
    border-radius: 20px;
  }
  
  body {
    background-image: url('./../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .resend a{
    font-family: Century Gothic;
    font-size: 25px;
    color: #DF6329;
    text-decoration: none;
  }
  .passwordreset{
    font-family: Century Gothic;
    color: #734385;
    font-size: 25px;
    font-weight: bold;
  }
  .linksColor {
  color: #DF6329;
}

.eyeIcon {
  position: absolute;
  top: 38%;
  right: 5%;
  color: white;
}
.eyeIcon:hover {
  color: #734385;
  cursor: pointer;
}
.closebtn{
  background: #DF6329;
  color: #fff;
  font-size: 14px;
  font-family: Paytone One;
  border-radius: 34px;
  display: flex;
}
.btnSendmail {
  background: #DF6329;
  color: #fff;
  font-size: 18px;
  font-family: Paytone One;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px 35px;
}
.btnSendmail:hover{
  background-color: #734385;
  }  
  .swalEmailIcon{
    background-image: url(../../../assets/email.png);
    background-repeat: no-repeat;
    padding: 40px 93px;
    background-position: 31px 21px;
   

    background-color: #d6b5d5;
    color: #fff;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    padding: 40px 25px 40px 90px;
  }
  .emailDiv .form-control{
    background-color: #d6b5d5;
    color: #fff;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    padding: 40px 25px 40px 90px;
  }
  .swal-modal {
    border-radius: 20px;
  }

  @media (max-width: 1024px) {
    textarea {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    .LoginBody .form-control {
      font-size: 18px;
    }
    .resend a {
      font-size: 18px;
    }
    /* .container.Logincontainer{
      margin-top: -25px;
    } */
    .btnSubmitlogin {
        font-size: 16px;
        width: 100%;
    }
    .resend{
        font-size: 14px;
    }
    .passwordreset{
        font-size: 14px;
    }
    .myToggalDiv span {
      font-size: 22px;
  }
.eyeIcon {

  right: 12% !important;
 
}
    
  }
  