.container-fluid {
  width: 90%;
}
.customContainer h1 {
  font-size: 45px;
  font-family: Paytone One;
}
.birdSizing {
  width: 80%;
  position: relative;
}

.container.CustomiseBodyContainer {
  max-width: 60%;
  margin-bottom: 40px;
}

.cardContainer {
  position: relative;
}

.mainCustomiseBody {
  background: #d4b5d5;
  text-align: center;
  border-radius: 25px;
  height: auto;
  width: 100%;
}
.mainCustomiseBody h1 {
  font-size: 45px;
  font-family: Paytone One;
  color: #734385;
}
.mainCustomiseBody h5 {
  font-size: 30px;
  font-family: Century Gothic;
  font-weight: 700;
}
.editCardTexts {
  font-size: 30px;
  /* font-family: Century Gothic !important; */
  font-weight: 700 !important;
  color: #000 !important;
  text-align: center !important;
}

.eCardWithMessage {
  height: 500px;
  width: 25%;
  border-radius: 15px;
  margin: 0 auto;
}

.eCardMessage {
  font-family: Century Gothic !important;
  font-weight: 700 !important;
  color: rgb(255,223,0) !important;
  text-align: center !important;
  background-color: transparent !important;
  white-space: pre-line;
  position: absolute;
  left: 50%;
  width: 25% !important;
  height: 105px !important;
  transform: translate(-50%, -50%);
  font-size: 21px;
  line-height: 23px;
  top: 88% !important;
}

.editor-container {
  position: absolute;
  z-index: 9999 !important;
}

.editor-block {
  border: 1px solid;
  padding: 10px;
  background-color: white;
}

.editor-icon {
  font-size: 30px;
  cursor: pointer;
}

.cardImage:hover {
  border: 2px dotted blue;
  padding: 1px;
}

@media (max-width: 767px) {
  .customContainer h1 {
    font-size: 30px;
  }
  .container.CustomiseBodyContainer {
    max-width: 100%;
  }
  .mainCustomiseBody h1 {
    font-size: 25px;
  }

  .birdSizing {
    width: 100%;
  }

  .eCardWithMessage {
    width: 100%;
  }

  .eCardMessage {
    width: 100% !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .eCardWithMessage  {
    width: 70%;
  }

  .eCardMessage {
    width: 70% !important;
    font-size: 22px !important;
    line-height: 24px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .eCardWithMessage  {
    width: 80%;
  }

  .eCardMessage {
    width: 80% !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .eCardWithMessage  {
    width: 80%;
  }

  .eCardMessage {
    width: 80% !important;
    font-size: 26px !important;
    line-height: 28px !important;
  }
}

@media only screen and (min-width: 1366px)  and (max-width: 1400px) {
  .eCardWithMessage  {
    width: 70%;
  }

  .eCardMessage {
    width: 70% !important;
    font-size: 26px !important;
    line-height: 28px !important;
  }
}