
/* Nav bar */
/* .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto; background-color: #734385;
} */

/* .bg-light {
    background: #734385!important;
    min-height: 100px;
} */

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0 0.5rem;
    text-align: center;
    font-family: Paytone One;
    font-size: 20px;
}
.myNavbar .nav-item i{
    color: #ffcf01;
}
.myNavbar .nav-item{
    padding: 0 12px;
    margin-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.bradcrumb{
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-end;
    color: #ffffff;
    margin-bottom: 15px;
}
.btn:hover{
    color:white;
}
/* End */