.container-fluid {
  width: 90%;
}
/* .bgBackground{
    background: url('../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
} */

.musicHeader div {
  margin-left: auto;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 88%;
  /* border: 1px solid #cccccc; */

  padding: 15px;
  margin-top: 5%;
  background-color: transparent;
}
.chooseCard h6 {
  font-family: Paytone One;
  font-size: 20px;
  cursor: pointer;
}

.chooseCard img {
  cursor: pointer;
}

/* .musicContainer {
  height: 67vh;
  overflow-y: auto;
} */

.imgDiv img {
  width: 80%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #734385;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  /* .musicContainer {
    height: 65vh;
  } */
  .imgDiv img {
    width: 60% !important;
  }
  .musicHeader {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .musicHeader div {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .musicHeader h1 {
    font-size: 2.5rem;
  }

  /* .musicContainer {
    height: 75vh;
  } */
}

@media (max-width: 1024px) {
  /* .chooseCard{
        margin: 10px;
    } */
}
