.container-fluid {
    width: 90%;
}
.videoScreen1{
    width: 35%;
    /* margin-left: 50%; */
    /* border: 2px purple solid; */
    height:8%;
    border-radius: 20px;
    margin-top: 2rem;
}



.paragraph h4{
    color: #45296E;
    /* margin-left: 1rem; */
}
 .paragraph p{
     color: #45296E;
     /* margin-left: 1rem; */
     font-size: 22px;
 }


