.PersonalInfoBody {
  border: 2px solid #734385;
  box-sizing: border-box;
  border-radius: 20px;

  display: grid;
  place-items: center;
  padding: 40px;
}
.container.PersonalInfocontainer {
  height: 70vh;
  margin-top: 10px;
}
.PersonalInfoBody input[type='text'] {
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 31px 21px;
}
.PersonalInfoBody .form-control {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  border-radius: 20px;
}
.PersonalInfoBody .form-control::placeholder {
  color: #fff;
}
.PersonalInfoBody .form-control :focus {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.PersonalInfoBody input[type='text'] {
  background-image: url(./../../../assets/user\ 1.png);
  background-repeat: no-repeat;
  padding: 40px 25px 40px 90px;
  background-position: 31px 21px;
}
.PersonalInfoBody input[type='email']{
  padding: 40px 25px 40px 90px;
}
textarea {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  background-color: #d6b5d5;

  border-radius: 20px;
}
body {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input[type='checkbox']:checked + label:before {
  background: red;
  color: #734385;
}
.btnSaveChanges {
  background: #DF6329;
  color: #fff;
  font-size: 25px;
  font-family: Paytone One;
  min-width: 239px;
  min-height: 86px;
  border-radius: 150px;

  margin-top: 25px;
}
.btnSaveChanges:hover {
  background-color: #734385;
  color: #fff;
}
.jivebirdleft {
  color: #734385;
  font-size: 30px;
}

.jivebirdleft span {
  border-radius: 50%;
  background-color: #734385;
  color: #fff;
  width: 50px;
  padding: 14px;
}
@media (max-width:767px){
  textarea {
    font-size: 20px;
  }
  .PersonalInfoBody input[type='text'] {
    background-position: 15px;
    background-size: 8%;
    height: auto;
    padding: 10px 12px 10px 50px !important;
    font-size: 18px !important;
  }

}

