.container-fluid {
  width: 90%;
}
.changecolor {
  color: #734385;
}
.heading {
  font-size: 45px;
  font-family: Paytone One;
}
body {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.leftsection {
  font-family: Paytone One;
}
.fontsizing {
  font-size: 35px;
  font-family: Paytone One;
}
.viewMsg {
  width: 33%;
    background-color: #D86329;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    position: absolute;
    z-index: -1;
    font-size: 12px;
    bottom: -35px;
    font-family: Paytone One;
    cursor: pointer !important;
}
.viewMsg:hover {
  background-color: #734385;
}
.cardgift {
  border-radius: 14px;
}

.EditBtn,
.EditBtn:hover {
  background-color: transparent;
  border: 2px solid #f37231;
  color: #df6329;
  font-family: Paytone One;
  font-size: 22px;
  width: 118px;
  height: 48px;
  border-radius: 20px;
  margin-top: 40px;
}
.EditBtn1, .EditBtn1:hover {
  background-color: transparent;
  border: 2px solid #f37231;
  color: #df6329;
  font-family: Paytone One;
  font-size: 22px;
  width: 100%;
  height: auto;
  margin: 10px 0 !important;
  border-radius: 20px;
}
.egiftimg {
  width: 321px;
  height: 203px;
}

.ReBtn,
.ReBtn:hover {
  background-color: transparent;
  border: 2px solid #f37231;
  color: #df6329;
  font-family: Paytone One;
  font-size: 22px;
  width: 241px;
  height: 51px;
  margin: 10px 0 !important;
  border-radius: 20px;
}

.ReBtn1,
.ReBtn1:hover {
  background-color: transparent;
  border: 2px solid #f37231;
  color: #df6329;
  font-family: Paytone One;
  font-size: 22px;
  width: 241px;
  height: 51px;
  margin: 10px 0 !important;
  border-radius: 20px;
}

.editimgleft {
  position: absolute;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.ecardimg {
  width: 168px;
  height: 250px;
  z-index: 10;
  background-color: transparent !important;
}
.editimgright {
  position: absolute;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
}
.egiftimg {
  width: 321px;
  height: 219px;
  z-index: 10;
  margin-right: 20px;
}
.resizing {
  display: flex;
  justify-content: space-evenly;
}
.cardgift {
  display: flex;
}

.leftoverlay-photocard {
  position: relative;
}

.ecardimgInside {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  transform: translate(55%, 75%);
  height: 100px;
  z-index: -9999 !important;
}
/* .fullscreen-modal.modal-dialog  {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
} */

.fullscreen-modal .modal-content {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 0;
}
.faClass {
  display: flex !important;
  justify-content: center;
  /* align-items: center;
  margin-top: 50vh; */
}
.modalText h6 {
  text-align: center;
  margin-top: 50vh;
}
.cancelBtnDiv {
  text-align: center;
  margin-top: 10px;
}
.btnPayment {
  background-color: #df6329;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.5rem;
  font-family: Paytone One;
}
.btnPayment:hover {
  background-color: #734385;
}

.cardMessage {
  width: 168px;
  height: 250px;
  padding: 10px;
}

.cardText {
  font-size: 12px;
  text-align: center;
  padding: 0 5px;
    width: 90%;
    position: absolute;
    bottom: 0px;
    color: #F6C601 !important;
}

.leftoverlay, .rightoverlay {
  position: relative;
}

@media (min-width: 1366px) {
  .ecardimgInside {
    /* left: 60px; */
  }
}
@media (max-width: 1366px) {
  .ecardimgInside {
    width: 50%;
    height: 40%;
    transform: translate(50%, 75%);
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .cardgift {
    display: block;
  }

  .ecardimg {
    width: 100%;
    height: 100%;
  }
  .cardText {
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    bottom: 5px;
  }
  .egiftimg {
    width: 100%;
    height: 100%;
  }
  .imgplay, .leftsection img {
    width: 90px;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ecardimg {
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }
  .leftoverlay {
    width: 50%;
    padding: 0 10px;
  }
  .rightoverlay {
    width: 50%;
    height: 50%;
    padding: 0 10px;
  }
  .egiftimg {
    width: 100%;
    height: auto;
  }
  /* .editimgleft {
    right: 80px;
  } */
  .imgplay, .leftsection img {
    width: 70px;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .imgplay, .leftsection img {
    width: 70px;
    height: 100%;
  }

  .heading {
    font-size: 30px;
    font-family: Paytone One;
  }
  .rightoverlay {
    display: block;
    margin-bottom: 0 !important;
  }
  .leftoverlay {
    display: block;
  }
  .fontsizing h2 {
    font-size: 18px;
  }
  .cardgift {
    position: relative;
    flex-direction: column;
  }

  .egiftimg {
    width: 100%;
    margin-right: 0 !important;
  }
  .editimgleft {
    /* top: 228px;
    left: 147px; */
    bottom: 0;
  }

  .cardText {
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
  }

  .ecardimg {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  .resizing {
    display: block;
    margin: 0 !important;
  }

  .ReBtn1, .ReBtn,.ReBtn1:hover,.ReBtn:hover{
    width: 100% !important;
    
  }

  .EditBtn, .EditBtn:hover {
    width: 100% !important;
  }
}
