.customContainer {
  width: 90%;
}
.customContainer h1 {
  font-size: 45px;
  font-family: Paytone One;
}

.photoFrameWithMessage {
  height: 100%;
  width: 25%;
  border-radius: 15px;
}

.photograph {
  position: absolute;
  width: 12%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999 !important;
}

.photoCardMessage {
  font-family: Century Gothic !important;
  font-weight: 700 !important;
  color: rgb(255,223,0) !important;
  text-align: center !important;
  background-color: transparent !important;
  white-space: pre-line;
  position: absolute;
  left: 50%;
  width: 25% !important;
  height: 105px !important;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 20px;
  top: 88% !important;
}

@media only screen and (max-width: 767px) {
  .customContainer h1 {
    font-size: 30px;
  }

  .photoFrameWithMessage {
    width: 100%;
  }

  .photoCardMessage {
    width: 100% !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .photograph {
    width: 47%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .photoFrameWithMessage  {
    width: 70%;
  }

  .photoCardMessage {
    width: 70% !important;
    font-size: 22px !important;
    line-height: 24px !important;
  }

  .photograph {
    width: 47%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .photoFrameWithMessage  {
    width: 80%;
  }

  .photoCardMessage {
    width: 80% !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }

  .photograph {
    width: 47%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .photoFrameWithMessage  {
    width: 80%;
  }

  .photoCardMessage {
    width: 80% !important;
    font-size: 26px !important;
    line-height: 28px !important;
  }

  .photograph {
    width: 37%;
  }
}

@media only screen and (min-width: 1366px)  and (max-width: 1400px) {
  .photoFrameWithMessage  {
    width: 70%;
  }

  .photoCardMessage {
    width: 70% !important;
    font-size: 26px !important;
    line-height: 28px !important;
  }

  .photograph {
    width: 33%;
  }
}