.demo-image-preview {
    position: relative;
    text-align: center;
  }
  
  .demo-image-preview > img {
    width: 768px;
  }
  
  .btnCancelCamera, .btnCancelCamera:hover{
    background: #DF6329;
    color:#fff;
    font-family: Paytone One;
    font-size: 30px;
    min-width: 245px;
    height: 76px;
    }
  
  .ReactCrop__image {
    height: 100% !important;
    width: 300px !important;
  }

  @media(max-width:768px){
    .demo-image-preview > img {
      width: 100%;
    }
  }
  
  /* fullscreen enable by props */
  .demo-image-preview-fullscreen > img {
    width: 100vw;
    height:100vh;
  }