.question h3{
    /* margin-left: 1rem; */
    color: #45296E;
}

.question{
    margin-top: 3rem;
}

.question p{
    color: #45296E;
    font-size: 20px;
    margin-top: 1rem;
    /* margin-left: 1rem; */
}