.App {
  text-align: center;
}
.App-header {
  background-color: #45296e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root {
 
  height: auto;
 }
.pc {
 cursor: pointer !important;
}

.textCenter {
  text-align: center !important;
}

.congrats {
  width: 100%;
  height: 100%;
}

.mainHeading {
  font-family: Paytone One;
}

.mainHeading span {
  color: rgb(115, 67, 133);
}

.subHeading {
  font-family: Century Gothic;
  font-weight: bold;
  line-height: 3rem;
}

.homebutn {
  background-color: #ec5929;
  font-size: 18px;
  color: #fff;
  border: 0px;
  padding: 10px 60px;
  border-radius: 10px;
  /* font-weight: bold; */
  font-family: Paytone One;
}
.homebutn:hover {
  background-color: #d54716;
  color: #fff;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  background-color: #eddef4;
  z-index: 999;
}

.sticky1 {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  background-color: #EDDEF4;
  z-index: 999;
}

.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  background-color: #EDDEF4;
  z-index: 999;
}

.app-btn {
  background-color: #df6329;
  float: right;
  color: #fff;
  font-size: 20px;
  /* font-weight: 500; */
  min-width: 120px;
  border-radius: 0.5rem;
  font-family: Paytone One;
}
.app-btn:hover {
  background-color: #734385;
}
/* .videoScreen {
  width: auto;
  height: 75vh;
} */
.micPhone {
  position: absolute;
  bottom: 6rem;
  right: 15rem;
}

.commonScroller::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.commonScroller::-webkit-scrollbar-track-piece {
  background-color: #c6c8ca;
}
.commonScroller::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #734385;
}
.bgBackground {
  background: url('../assets/music-icon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}
.bgColor {
  background-color: #eddef4;
  z-index: 1;
}
.margin {
  height: 50px;
}

.threebtns {
  margin-left: 16px;
}

.btns-div {
  justify-content: flex-end;
}

.ecardFrame {
  height: 100%;
  width: 200px;
}

.wrap .text,
.wrap .card,
.wrap .image {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.card {
  width: 25%;
  top: 50%;
  border-radius: 15px;
  background-color: transparent !important;
}

.image {
  width: 12%;
  top: 50%;
  z-index: -9999 !important;
}

.editTexts {
  font-family: Century Gothic !important;
  font-weight: 700 !important;
  color: rgb(255,223,0) !important;
  text-align: center !important;
  background-color: transparent !important;
  white-space: pre-line;
  position: absolute;
  left: 50%;
  width: 25% !important;
  height: 100px !important;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 18px;
  top: 100% !important;
  text-align: center;
}

.editTexts:active {
  background: transparent !important;
  border: transparent !important;
}

/* .editTexts:focus {
  border: 2px solid #ad0000 !important;
} */

.commonBird {
  height: 100%;
  width: 60%;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.textHeader{
  font-family: Century Gothic;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  color: #734385;
  font-weight: 700;
}

.emailicon {
  background-image: url(../assets/email.png);
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 31px 21px;
}

.passwordicon{
  background-image: url(../assets/password.png);
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 29px 13px;
}

@media (max-width: 767px) {
  /* .videoScreen {
    width: auto;
    height: 30vh;
  } */
  .micPhone {
    bottom: 15rem;
    right: 1rem;
  }
  .mainHeading {
    font-size: 26px;
    text-align: center !important;
  }

  .subHeading {
    font-size: 16px;
    line-height: 26px;
    text-align: center !important;
  }
  .margin {
    height: 10px;
  }

  .app-btn {
    width: 100%;
    margin: 5px 0 !important;
  }
  .btns-div {
    flex-direction: column;
  }

  .head1 {
    order: 2;
    margin: 10px 0 !important;
  }

  .head2 {
    order: 1;
    margin: 0 !important;
    width: 100%;
  }

  .eCardRow {
    justify-content: center !important;
    align-items: center !important;
  }

  .commonBird{
    width: 75%;
    height: 100%;
  }

  .ecardFrame {
    height: 100%;
    width: 150px;
  }

  .textHeader {
    font-size: 18px;
  }

  .NewUserBody form, .LoginBody form {
    padding: 0 20px !important;
  }

  .emailicon, .passwordicon {
    background-position: 15px;
      background-size: 10%;
      height: 100%;
      font-size: 18px !important;
      padding: 10px 0 10px 50px !important;
  }

  .wrap .text,
  .wrap .card,
  .wrap .image {
    top: 75%;
  }

  .card {
    width: 80%;
  }

  .image {
    width: 38%;
  }

  .editTexts {
    width: 75% !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
}
.swal-button {
  background-color:#DF6329;
}
/* .swal-button:hover{
  background-color: #734385;
} */
/* .sweet-warning{
  background-color: #734385;
} */
 
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mainHeading {
    font-size: 2.5rem;
  }

  .card  {
    width: 85%;
  }
  .image {
    width: 40%;
  }
  .editTexts {
    width: 80% !important;
    font-size: 22px !important;
    line-height: 23px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* .videoScreen {
    width: auto;
    height: 40vh;
  } */
  .micPhone {
    bottom: 20rem;
    right: 3rem;
  }

  .commonBird {
    height: 100%;
    width: 75%;
  }

  .card  {
    width: 85%;
  }
  .image {
    width: 40%;
  }
  .editTexts {
    width: 80% !important;
    font-size: 22px !important;
    line-height: 23px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .commonBird {
      height: 100%;
      width: auto;
  }

  .wrap .text,
  .wrap .card,
  .wrap .image {
    top: 70%;
  }
  .card  {
    /* width: 85%; */
  }
  .image {
    /* width: 40%; */
  }
  .editTexts {
    width: 25% !important;
    font-size: 16px !important;
    line-height: 18px;
    top: 95% !important;
    height: 90px !important;
  }
}