/* .bgBackground {
  background: url('../../../assets/inrbg.png');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.container-fluid {
  width: 90%;
}
.customContainer h1 {
  font-size: 45px;
  font-family: Paytone One;
}

.giftcardimage {
  height: 100%;
  width: auto;
}

.container.CustomiseBodyContainer {
  max-width: 57%;
}

.mainCustomiseBody {
  background: #d1b8d7;
  text-align: center;
  border-radius: 25px;
}
.mainCustomiseBody h1 {
  font-size: 45px;
  font-family: Paytone One;
  color: #734385;
}
.mainCustomiseBody h5 {
  font-size: 30px;
  font-family: Century Gothic;
  font-weight: 700;
}

/* .rowone{
    margin-top: 80px;

} */

.firstcard,
.secondcard,
.thirdcard,
.fourthcard,
.fifthcard {
  border: #000000 1px solid;
  border-radius: 20px;
}

.item {
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
  height: 100px;
  /* padding: 20px 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkIcon {
  color: #DF6329;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.imgtext {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  /* padding-left: 9rem; */
  text-align: center;
  padding-top: 1rem;
}

.editimage {
  width: 100%;
  border-radius: 3%;
}

.columntwo {
  display: flex;
  justify-content: flex-end;
  /* height: 500px; */
  padding-left: 5rem;
  padding-top: 4rem;
}
.euroImg {
  height: 35px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.modalHeading {
  background: #ffe603;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-family: PAYTONE ONE;
  font-size: 30px;
}

.btnCancel {
  background: #DF6329;
  color: #fff;
  font-family: Paytone One;
  font-size: 30px;
  min-width: 245px;
  height: 76px;
  border-radius: 10px;
}
.modalBody p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .item {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .columntwo {
    display: flex;
    justify-content: center;
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .customContainer h1 {
    font-size: 30px;
  }
  .container.CustomiseBodyContainer {
    max-width: 90%;
  }
  .mainCustomiseBody h1 {
    font-size: 25px;
  }
 
  .columntwo {
    display: flex;
    justify-content: center;
    padding-left: 15px;
  }
  .item {
    margin-left: 0px;
  }
  .euroImg {
    height: 22px;
  }
}
