.container-fluid.egiftcontainer{
    width: 90%;
    /* padding: 3rem; */
    /* border: green 2px solid; */
    

}
.imagesizing img {
    /* max-width: 100%; */
    
    /* position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%); */
    height: 170px;
    width: 267px;
   
  }
.heading { 
    
    font-size: 45px;
    font-family: Paytone One;
    margin-top: 0px; 
    margin-bottom: 0;
    
    }
.heading span { color: #734385;}

/* .scrollbar{
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
} */



body{ 
    background-image: url('./../../../assets/inrbg.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  @media (min-width: 1024px ) and (max-width:1336px) {
    .imagesizing{
        
        margin-right: 75px;
    }
    .container-fluid.egiftcontainer{
        width: 100%;
        
    }
    
    }
    @media (max-width:767px) {
        .container-fluid.egiftcontainer{
            padding: 0px;
            
        }
        
        .imagesizing{
            width: 97%;
        }
        /* .scrollbar {
            height: 74vh;
        } */
    }