/* .bgBackground {
  background: url('../../../assets/inrbg.png');
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.container-fluid {
  width: 90%;
}

.songHeader div {
  margin-left: auto;
}

.abc{
  background-color: orange;
}

.chooseMusic {
  border: 1px solid #734385;
  padding: 10px;
  border-radius: 1rem;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Paytone One;
 
}
.chooseMusic h6 {
  font-size: 20px;
}
.playIcon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #DF6329;
}

.mouseCursor {
  cursor: pointer;
}

/* .songsContainer {
  max-height: 70vh;
  overflow-y: scroll;
} */
.searchContainer {
  max-height: 62vh;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  /* .songsContainer {
    max-height: 55vh;
  } */

  .searchContainer {
    max-height: 48vh;
  }

  .songHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .songHeader div {
    width: 100%;
  }
  .container-fluid {
    width: 100%;
}

}
