.myToggal{
    margin-top: 10px;
    border: 2px solid #734385;
    padding: 10px 5px;
    border-radius: 2.5rem;
  }
  .myToggal .personalInfo{
    cursor: pointer;
    background: #734385;
    border-radius: 2rem;
  }
  .myToggal .history{
    cursor: pointer;
    background: #734385;
    border-radius: 2rem;
  }
  .myToggal span{
    padding: 8px 20px;
    font-family: Paytone One;
    font-size: 40px;
    color: #FFFFFF;
  }
  .myToggal .default{
    color: #734385;
    cursor: pointer;
  }
  
  @media (min-width:375px) and (max-width:811px){
   

.myToggal span {
  
  font-size: 18px;

}
}
@media (max-width:360px){
   

  .myToggal span {
    
    font-size: 16px;
  
  }
  }