.contactBody h1 {
  font-family: Paytone One;
  font-size: 45px;
  color: #734385;
  text-align: center;
}
.contactBody h2 {
  font-family: Century Gothic;
  font-size: 27px;
  color: #734385;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 20px;
}

.contactBody {
  border: 2px solid #734385;
  box-sizing: border-box;
  border-radius: 20px;

  display: grid;
  place-items: center;
}
.container.contactcontainer {
  /* height: 100vh; */
}

.contactBody input[type='text'] {
  background-image: url(./../../../assets/user\ 1.png);
  background-repeat: no-repeat;
  padding: 40px 93px;
  background-position: 31px 21px;
}

textarea.form-control {
    height: 110px;
}

.contactBody .form-control {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  border-radius: 20px;
}
.contactBody .form-control::placeholder {
  color: #fff;
}

.messagefield {
  margin-top: 25px;
}
.btnSubmit {
  background: #DF6329;
  color: #fff;
  font-size: 33px;
  font-family: Paytone One;
  min-width: 255px;
  min-height: 86px;
  border-radius: 10px;

  margin-top: 25px;
}
.btnSubmit:hover{
background-color: #734385;  
}
.contactBody .form-control :focus {
  background-color: #d6b5d5;
  color: #fff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.btndiv{
    display: flex;
    justify-content: flex-end;
}
textarea {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  background-color: #d6b5d5;

  border-radius: 20px;
}

body {
  background-image: url('./../../../assets/inrbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 1024px) {
  textarea {
    font-size: 30px;
  }
  .messagefield {
    margin-top: 15px;
  }
  .contactBody .form-control {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
 .contactBody input[type='text'] {
    padding: 37px 68px;
    background-position: 16px 21px;
  }
  .contactBody h2  {
    font-size: 15px;
  }
  .container.contactcontainer{
    margin-top: -25px;
  }
  .btnSubmit{
    min-width: 179px;
    min-height: 72px;
  }
}
