.selectECardContainer  {
    width: 90%;
}
/* .bgBackground{
    background: url('../../../assets/inrbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.selectECardContainer h3{
    font-family: Paytone One;
}

/* .cardSelectionWrapper{
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} */
.viewMore{
    background: #DF6329;
    color: #fff; 
    font-size: 23px; 
    font-family: Paytone One;
    min-width: 160px;
    min-height: 50px;
    border-radius: 10px;
}
.viewMore:hover{
    background-color: #734385;  
}

.mainsection{
    display: flex;
    overflow-x: auto;
    margin-left:20px;
}
.Cards{
    margin-right: 20px;
    padding: 10px;
}

/* .cardSelectionWrapper::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
.cardSelectionWrapper::-webkit-scrollbar-track-piece  {
    background-color: #c6c8ca;
}
.cardSelectionWrapper::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #734385;
} */

@media (max-width:767px){
    .container-fluid {
        width: 100%;
    }
    .viewMore {
        font-size: 18px;
        min-width: 120px;
        min-height: 50px;
    }
  
    .selectECardContainer h3{
        font-size: 17px;
    }
    .selectECardContainer  {
        width: 85% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* .cardSelectionWrapper {
        height: 80vh;
    } */
}