.searchdiv .form-control {
    border: none !important;
    color: #734385 !important;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
  }
  .searchdiv .input-group-text {
    background:white !important;
    color: #734385 !important;
    border: 0 !important;
    /* border-radius: 0 0.25rem 0.25rem 0 !important; */
    border-radius: 8px;
    padding-right: 20px;
  }

  .searchdiv input[type='text']:focus{
    color: #734385 !important;
}
.searchdiv{
    padding: 0;
    min-width: 400px;
}
@media (max-width:1023px){
  .searchdiv {
    min-width: 360px;
}
}
@media(max-width:767px){
  .searchdiv {
      min-width: 140px;
  }

  .searchdiv .form-control {
    font-size: 1.2rem;
  }
}
/* .searchdiv:active{
    border: 1px solid #bb8b4b !important;
    box-shadow: #bb8b4b !important;
} */