.historyCont h4{
    text-align: center;
    margin-bottom: 10px;
    color: #734385;
    opacity: 0.6;
}
.dt{
    color: #734385;
    opacity: 0.6;  
}
.myTable tbody td{
    color: #734385;
    font-family: Paytone One;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 88%;
    /* border: 1px solid #cccccc; */
  
    padding: 15px;
    margin-top: 5%;
    background-color: transparent;
  }

.myTable          { overflow: auto; height: 62vh; }
.myTable thead th { position: sticky; top: -1px; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { 
background:#734385;
color: #fff ; 
/* font-family: Paytone One; */
font-size: 20px;
}