.playPause{
    width: 60px;
    height: auto;
}
.txt{
    color: hsl(285, 35%, 40%);
    font-family: Paytone One;
    font-size: 25px;
}

.Imgcard{
    width: 200px;
    height: auto;
    border-radius: 20px;
}
.cardBorder{
    border-radius: 20px;
}
.heading{
    font-family: Paytone One;
font-style: normal;
font-weight: normal;
font-size: 45px;
}
@media (min-width:1024)AND (max-width:1365){
    .playPause {
        width: 169px;
        height: auto;
    }
    /* .bodyOfCard{
        display: block;
    } */
}
@media (min-width:768px) AND (max-width:1023px){
    .Imgcard{
        width: 180px;
       
    }
    .playPause {
        width: 90px;
        
    }
/* 
    .bodyOfCard{
        display: block;
    } */
    /* .playPause {
    width: 93px;
    } */
    }

@media(max-width:767px){
    .txt{
        
        font-size: 13px;
    }
    .Imgcard{
        width: 200px;
       
    }
    .playPause {
        width: 40px;
        height: auto;
    }

  }
  /* @media (max-width:1023px){
    .Imgcard{
        width: 180px;
       
    } */
   