.container-fluid {
    width: 90%;
}
.b2 {
    display: none !important;
}

.leftSection{
    padding: 0 !important;
}

.recorder-bg {
    height: 0.3rem !important;
    background-color: #734385 !important;
}

.timer {
    color: #734385;
    font-size: 4rem;
    font-weight: 600;
}

.recorder-progress {
    height: 0.3rem !important;
    background-color: #DF6329 !important;
    position: relative;
    display: inline-block;
}

@media (max-width:767px){
    .btns-div {
        flex-direction: column;
    }

    .leftSectionMain  {
        order: 2;
    }

    .b1 {
        display: none !important;
    }

    .b2 {
        display: block !important;
    }
}