.Heading {
  text-align: left;

  font-size: 45px;
  font-family: Paytone One;
}
.container-fluid {
  width: 90%;
}
.Heading span {
  color: #734385;
}

.para {
  font-size: x-large;
  line-height: 1;
  font-size: 25px;
  font-family: Century Gothic;
  font-weight: bold;
}

.imgDivsendecard {
  text-align: center;
}

.scheduleDT .modal-content {
  width: 60%;
  margin: 0 auto;
}

.popUpHeading {
  background: #ffe603;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-family: PAYTONE ONE;
}

.popUpHeading h1 {
  font-size: 22px;
}

.popUpBody .dandT {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  align-items: baseline;
}

.schedule {
  margin-left: 10px;
}

.popUpBody span {
  color: #ec5929;
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* margin-right: -43px; */
}
.popUpBody h1 {
  color: #734385;
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.button1 {
  order: 1;
}

.button2 {
  order: 2;
}

.btnDone {
  background: #df6329;
  color: #fff;
  font-family: Paytone One;
  font-size: 20px;
  padding: 5px 30px;
  border-radius: 10px;
}
.btnDone:hover {
  background-color: #734385;
}
.popUpBody {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .scheduleDT .modal-content {
    width: 80%;
  }
  .popUpBody span {
    font-size: 20px;
    /* margin-right: -19px; */
  }
  .popUpBody .dandT {
    padding: 10px;
  }
  .popUpBody h1 {
    font-size: 20px;
  }
  .popUpHeading h1 {
    font-size: 20px;
  }

  .btnDone {
    font-size: 18px;
    padding: 5px 15px;
  }
}
